*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f7f7f7;
  color:#333;
  line-height:1.6;
}

/* CONTAINER */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* TOP BAR */
.top-bar{
  background:#E53935;
  color:white;
  padding:8px 0;
  font-size:14px;
}

.top-bar .container{
  display:flex;
  justify-content:space-between;
}

/* NAVBAR */
nav{
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

nav .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 0;
}

.logo{
  font-size:22px;
  font-weight:600;
  color:#E53935;
}

nav ul{
  list-style:none;
  display:flex;
  gap:30px;
}

nav ul li a{
  text-decoration:none;
  color:#333;
  font-weight:500;
  transition:0.3s;
}

nav ul li a:hover{
  color:#E53935;
}

.donate-btn{
  background:#E53935;
  color:white !important;
  padding:8px 18px;
  border-radius:4px;
}

/* HERO */
.hero{
  background:#2BA6A6;
  color:white;
  padding:80px 0;
}

.hero .container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
}

.hero-text{
  flex:1;
}

.hero h1{
  font-size:40px;
  margin-bottom:20px;
}

.hero p{
  margin-bottom:20px;
}

.hero button{
  background:white;
  color:#2BA6A6;
  border:none;
  padding:10px 22px;
  border-radius:4px;
  cursor:pointer;
  font-weight:600;
}

.hero img{
  flex:1;
  width:100%;
  max-width:500px;
  border-radius:10px;
}

/* SECTIONS */
.section{
  padding:70px 0;
  text-align:center;
}

.section h2{
  color:#E53935;
  margin-bottom:20px;
  font-size:28px;
}

.section p{
  max-width:700px;
  margin:auto;
}

/* GRID */
.grid{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card img{
  width:100%;
  border-radius:8px;
  margin-bottom:15px;
}
.gallery {
    padding: 60px 5%;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 15px;
}

/* FORM */
form{
  margin-top:30px;
}

form input{
  width:300px;
  max-width:90%;
  padding:10px;
  margin:10px;
  border:1px solid #ccc;
  border-radius:4px;
}

form button{
  background:#E53935;
  color:white;
  padding:10px 25px;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

/* FOOTER */
footer{
  background:#222;
  color:white;
  padding:30px 0;
  text-align:center;
  margin-top:60px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero .container{
    flex-direction:column;
    text-align:center;
  }

  nav ul{
    gap:15px;
  }
}